* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-div {
  width: 10px;
  height: 10vh;

}



nav {
  width: 100%;
  height: 10vh;
  font-size: 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

section {
  width: 100%;
  height: 100vh;
  font-size: 30px;
  display:flex
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  

}
.section-image{
  width: 50%;
  height: 100%;

  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.information{
  width: 50%;
 height: 50%;
  
}


footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  


}

.footer-items {
  display: flex;
  justify-content: space-evenly;
flex-direction: column;
  margin: 0 0 20px 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 0 10px;

}
button {
  width: 142px;
  height: 47px;
  background-color: #FF3548;
  border: none;
  border-radius: 50px;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3;
}